# Ballon d'Or Palmares
Data source: [Sport-histoire.fr](https://www.sport-histoire.fr/Sport/Football/Palmares/Ballon_or.php)

In [18]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## 1. Get Data

**Paths & Config**

In [19]:
URL = "https://www.sport-histoire.fr/Sport/Football/Palmares/Ballon_or.php"
DATA = "balon-d-or-palmares.csv"

**Retreive page HTML code source**

In [20]:
# Retreive source code
source = requests.get(URL)
# Convert into bs4 object
soup = BeautifulSoup(source.text, "html.parser")
# Extract table
table = soup.find("table", {"class": "table-responsive-sm"})

**Convert into Pandas DataFrame**

In [21]:
data = pd.read_html(str(table))[0]
data.sample(10)

   Année  Joueur récompensé             Pays               Club
26  1994  Hristo Stoitchkov         Bulgarie       FC Barcelone
27  1993     Roberto Baggio           Italie           Juventus
4   2015       Lionel Messi        Argentine       FC Barcelone
18  2002            Ronaldo           Brésil        Real Madrid
12  2008  Cristiano Ronaldo         Portugal  Manchester United
53  1968        George Best  Irlande du Nord  Manchester United
13  2007               Kaka           Brésil           Milan AC
51  1970     Gerhard Müller        Allemagne      Bayern Munich
49  1972  Franz Beckenbauer        Allemagne      Bayern Munich
23  1997            Ronaldo           Brésil        Inter Milan

## 2. Clean Data

In [22]:
data["is_correct"] = data["Année"].apply(lambda x: len(x)==4)
data = data[data["is_correct"]]
data = data.drop(["is_correct"], axis=1)
data

   Année   Joueur récompensé               Pays          Club
0   2019        Lionel Messi          Argentine  FC Barcelone
1   2018         Luka Modrić            Croatie   Real Madrid
2   2017   Cristiano Ronaldo           Portugal   Real Madrid
3   2016   Cristiano Ronaldo           Portugal   Real Madrid
4   2015        Lionel Messi          Argentine  FC Barcelone
..   ...                 ...                ...           ...
61  1960         Luis Suarez            Espagne  FC Barcelone
62  1959  Alfredo Di Stefano  Argentine/Espagne   Real Madrid
63  1958        Raymond Kopa             France   Real Madrid
64  1957  Alfredo Di Stefano  Argentine/Espagne   Real Madrid
65  1956    Stanley Matthews         Angleterre     Blackpool

[64 rows x 4 columns]

## 3. Save data

In [23]:
# Save raw data
data.to_csv(DATA, index=False)